nav.navbar.navbar-expand-md.bg-dark.navbar-dark.fixed-top
  a.navbar-brand(href="#")
    img(src="static/images/kraken.png", alt="Kraken", style="width:40px;")
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#collapsableNavbar")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="collapsableNavbar")
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="#") My Account
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="#") My Bot
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="#") Administration
