nav.navbar.navbar-expand-md.bg-dark.navbar-dark.fixed-top
  a.navbar-brand(href="#")
    img(src="static/images/logo_text.png", alt="Kraken", style="height:40px;")
  button.navbar-toggler(type="button",data-toggle="collapse",data-target="#collapsableNavbar")
    span.navbar-toggler-icon
  .collapse.navbar-collapse(id="collapsableNavbar")
    ul.navbar-nav
      li.nav-item
        a.nav-link(href="#") My Account
      li.nav-item
        a.nav-link(href="#") My Bot
      li.nav-item
        a.nav-link(href="#") Administration
    // Right hand side of navbar
    ul.navbar-nav.ml-auto
      if ctx.twitch_user
        li.nav-item.dropdown
          a.nav-link.dropdown-toggle(href="#", id="navbarDropdownMenuLink", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
            span(style="padding-right:10px")= 'Hello ' + ctx.twitch_user.display_name 
            img(src=ctx.twitch_user.profile_image_url, alt="Profile Picture", style="width:40px;")
          .bg-dark.navbar-dark.dropdown-menu.dropdown-menu-right(aria-labelledby="navbarDropdownMenuLink")
            a.nav-link.dropdown-item(href="/logout") Sign Out
      else
        li.nav-item
          a.nav-link(href="login/")
            span(style="padding-right:10px") Sign In
        
